$colors: (
  butonColor: #699900,
  fristColorGradient: #619119,
  secondColorGradient: #3361c1,
  afterGb: #14a0c7,
);

$opacity: 0.6;
$commonColors: (
  linkColor: #fff,
  bodyBgColor: #fff,
  textColor: #2c2f3c,
  cardBgColor: #2c2f3c,
  cardTextColor: #fff,
  buttonTextColor: #fff,
  footerTextColor: #fff,
  footerBgColor: #2c2f3c,
);

$headerBg: url(../img/m-h-day.jpg) center;
$footerFonts: 'Hind', sans-serif;
$logoFont: 'Hind', sans-serif;
$cardTitle: 'Source Sans Pro', sans-serif;
$cardText: 'Hind', sans-serif;
$headerFont: 'Source Sans Pro', sans-serif;
$bannerTitleFont: 'Source Sans Pro', sans-serif;
$bannerTextFont: 'Source Sans Pro', sans-serif;
