$colors: (
  butonColor: #e3ac00,
  fristColorGradient: #dba008,
  secondColorGradient: #99364b,
  afterGb: #ff4e33,
);

$opacity: 0.6;

$commonColors: (
  linkColor: #fff,
  bodyBgColor: #21232e,
  textColor: #fff,
  cardBgColor: #3b3f50,
  cardTextColor: #fff,
  buttonTextColor: #fff,
  footerTextColor: #fff,
  footerBgColor: #3b3f50,
);

$headerBg: url(../img/m-h-night.jpg) center;
$footerFonts: 'Fresca', sans-serif;
$logoFont: 'Fresca', sans-serif;
$cardTitle: 'Source Sans Pro', sans-serif;
$cardText: 'Fresca', sans-serif;
$headerFont: 'Source Sans Pro', sans-serif;
$bannerTitleFont: 'Source Sans Pro', sans-serif;
$bannerTextFont: 'Fresca', sans-serif;
