nav {
  width: 650px;
  padding: 20px 0px;
  margin: 0 auto;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
}